.reactCalendar {
  width: 100%;
  max-width: 350px;
  background-color: white;
  border: 1px solid #a0a096;
  font-family: "Pretendard", sans-serif;
  line-height: 1.125em;

  &__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;

    &:disabled {
      background-color: #f0f0f0;
    }
  }

  &__month-view__weekdays {
    text-align: center;
    text-transform: none;
    font-weight: bold;
    font-size: 14px;
    color: #000; /* 요일 글씨 색상 설정 */
  }

  &__month-view__weekdays__weekday {
    padding: 0.5em;
  }

  &__month-view__days__day--weekend {
    color: #d10000;
  }

  &__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font-size: 16px; /* 날짜 글씨 크기 */
    font-weight: 600;
    color: #000; /* 날짜 글씨 색상 설정 */

    &:hover {
      background-color: #f0f0f0;
    }

    &--now {
      background: #ffff76;
    }

    &--active {
      background: #006edc;
      color: white;
    }

    &--hasActive {
      background: #005bb5;
      color: white;
    }
  }
}
