//src>scss>page>_community.scss
.community-page {
  padding: 0rem;
}
.community-main-view-all {
  margin-top: 87px;
}

.Community-header-box {
  width: 55%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 9;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
.community-header-root {
  display: flex;
  align-items: flex-start;
  gap: 3.5rem;
  justify-content: center;
  margin-top: 61px;
  margin-left: 75px;
  margin-right: 75px;
  @media screen and (max-width: 360px) {
    gap: 30%;
    align-items: center;
  }
}
.community-header-root .nav-link {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}

.community-header-root .nav-link.underline {
  color: #000;
  border-bottom: 2px solid #000;
}
.community-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
  position: relative;
}

.Community-profile-list-container-box {
  display: flex;
  padding: auto;
  overflow-x: hidden; /* 가로 스크롤을 가능하게 함 */
}
.Community-profile-list {
  display: flex;
  align-items: center; /* 수직 정렬을 중앙으로 맞춤 */
  overflow-x: auto; /* 내부 요소가 가로로 넘칠 경우 스크롤 가능하게 함 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.Community-profile-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.Community-profile-personal-box {
  display: block;
  background-color: white;
  position: absolute; /* 상대 위치로 변경하여 스크롤 내에 위치하게 함 */
}
.Community-profiles-neigbor {
  display: flex;
  white-space: nowrap;
  flex-grow: 1;
  margin: 0rem 0rem 0rem 5.625rem;
}

.Community-profile-me-img {
  width: 2.5463rem;
  height: 2.5463rem;
  margin: 0.875rem 1.125rem 0rem 1.625rem;
  flex-shrink: 0;
  border-radius: 3.7843rem;
  background: #d5d5d5;
}
.Community-profile-me-name {
  margin: 0.375rem 1.125rem 0rem 1.625rem;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Community-neibore-profile {
  display: inline-block;
  /* 각 프로필 간의 간격 설정 */
}
.Community-neibore-me-img {
  width: 2.5463rem;
  height: 2.5463rem;
  margin: 14px 1.125rem 0rem 0rem;
  flex-shrink: 0;
  border-radius: 3.7843rem;
  background: #d5d5d5;
}
.Community-neibore-me-name {
  margin: 0.375rem 1.125rem 0rem 0rem;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Community-show-more-profile {
  display: flex;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.5609rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.3237rem;
  background: #999;
  position: relative;
  margin: 1.25rem 1.25rem 0rem 0.6875rem;
}
.community-search-container-box {
  display: flex;
  margin: 1.75rem 0rem 0rem 1.3125rem;
}
.community-search-detail-list {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.375rem 0.1875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  flex-shrink: 0;
}
.community-search-command-box {
  position: relative;
  display: flex;
  width: 80%;
  height: 2.5rem;
  padding: 0.625rem 0.9375rem;
  align-items: center;
  gap: 2.125rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--calendar_-date_text, #cdcdcd);
  margin: 0.3125rem 0rem 0rem 0.375rem;
}
.community-search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 0.8rem;
  border-radius: 3.125rem;
}
.community-search-command-button {
  position: absolute;
  right: 0.625rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.community-home-made-group {
  display: block;
}
.community-home-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px 16px;
}

.community-home-subheader-title {
  font-size: 18px;
  font-weight: bold;
}

.community-home-create-group {
  color: #000;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  font-size: 16px;
}
.community-home-recommend-container-box {
  width: 100%;
  height: 392px;
  background: #f4f4f4;
  margin: 200px 0px 0px 0px;
}
.community-home-keyword-container-box {
  margin: 0px 0px 30px;
  width: 100%;
}
.community-home-keyword-box {
  float: left;
  margin-left: 4%;
  margin-top: 2%;
}
.community-home-keyword-content {
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #b3b3b3;
}

.community-home-group-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.community-home-group-icon img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.community-home-group-details {
  flex: 1;
  margin-left: 16px;
}

.community-home-group-name {
  font-size: 16px;
  font-weight: bold;
}

.community-home-group-notice {
  font-size: 0.875rem;
  color: #888;
}
.community-home-recommend-show-container-box-name {
  margin: auto 22px;
  padding: 10px 0px 0px 0px;
}
.community-home-recommend-show {
  margin-top: 10px;
  display: flex;
  overflow-x: hidden;
  align-items: center; /* 수직 정렬을 중앙으로 맞춤 */
  overflow-x: auto; /* 내부 요소가 가로로 넘칠 경우 스크롤 가능하게 함 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.community-home-recommend-show-more {
  min-width: 58%;
  max-width: 58%;
  height: 310px;
  border-radius: 5px;
  background: #fff;
  margin: 10px 10px 0px 20px;
}
.community-home-recommend-show-more-out {
  float: right;
}
.community-home-recommend-show-img {
  width: 150px;
  height: 150px;
  border-radius: 90px;
  background: #d5d5d5;
  margin: 25px auto 5px;
}
.community-home-recommend-show-community-name {
  margin: 10px auto 0px;
  text-align: center;
}
.community-home-recommend-show-content-detail {
  display: flex;
  margin: 0px 0px 0px 17%;
  color: #acacac;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.community-home-recommend-show-content-detail-host {
  margin: 0rem 0.625rem 0 0;
}
.community-home-recommend-show-content-active {
  display: inline-flex;
  padding: 2.559px 5.118px;
  justify-content: center;
  align-items: center;
  gap: 5.118px;
  border-radius: 50px;
  background: #daedff;
  color: #0083ff;
  margin: auto 0 auto 10px;
  font-size: 8.188px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.community-home-recommend-join-button {
  display: flex;
  width: 162px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px auto 0px;
  border-radius: 8px;
  background: #3c3c3c;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.community-show-profile-follow-header-container-box {
  display: flex;
  padding: 44px 0px 0px 0px;
}
.community-show-profile-follow-header-back-icon {
  padding: 6px 0 6px 20px;
}
.community-show-profile-follow-header-title {
  margin: 0 0 0 36%;
}
.community-show-profile-follow-title-menu {
  display: flex;
  margin: 22px 0 5px 0;
  width: 100%;
}
.community-show-profile-follow-title-menu-follow {
  margin: 0 0 0 18%;
}
.community-show-profile-follow-title-menu-followers {
  margin: 0 0 0 15%;
}
.community-show-profile-follow-title-menu-add-friends {
  margin: 0 0 0 15%;
}
.community-show-follow-or-follower-container {
  display: flex;
  width: 100%;
}
.community-show-follow-or-follower-container-picture {
  width: 2.5rem;
  height: 2.5rem;
  margin: 25px 13px 0rem 1.4631rem;
  flex-shrink: 0;
  border-radius: 3.7843rem;
  background: #d5d5d5;
}
.community-show-follow-or-follower-container-name {
  width: Fixed 1.75rem;
  height: Fixed 1.1875rem;
  margin: 30px 0px 0px;
  margin-right: auto; /* 자동 여백을 추가하여 이름의 길이와 관계없이 다른 요소들을 오른쪽으로 밀어냅니다 */
}
.community-show-follow-or-follower-container-actions {
  display: flex;
  align-items: center;
}
.community-show-follow-or-follower-container-send-message {
  display: flex;
  width: 109px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px;
  border-radius: 8px;
  background: #efefef;
}
.community-show-follow-or-follower-container-send-more {
  margin: 1.875rem 1.25rem 0 1.25rem;
}
.community-show-follow-or-follower-container-box {
  display: flex;
  width: 100%;
  padding: 1%;
}
.community-show-profile-friend-count {
  color: #959595;
  margin: 10px 0px 0px 23px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.community-search-friends-add-box {
  position: relative;
  display: flex;
  width: 85%;
  height: 2.5rem;
  padding: 0.625rem 0.9375rem;
  align-items: center;
  gap: 2.125rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--calendar_-date_text, #cdcdcd);
  margin: 29px auto;
}
.community-search-friends-add-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 0.8rem;
  border-radius: 3.125rem;
}
.community-search-friends-add-button {
  position: absolute;
  right: 0.625rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.community-show-recommend-friend-container-box {
  width: 85%;
  margin: 0 auto;
}
.community-show-follow-or-follower-container-send-follow {
  display: flex;
  width: 109px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 25px 19px 0px;
  border-radius: 8px;
  background: #393939;
  color: #fff;
}
.community-show-follow-or-follower-container-send-followers {
  display: flex;
  width: 109px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px;
  border-radius: 8px;
  background: #393939;
  color: #fff;
}
.tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tab {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  flex-grow: 1;
  text-align: center;
}

.tab.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.community-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 7px 16px;
}

.subheader-title {
  font-size: 18px;
  font-weight: bold;
}

.create-group {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
}

.group-list {
  display: flex;
  flex-direction: column;
}

.group-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
}

.group-icon img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.group-details {
  flex: 1;
  margin-left: 16px;
}

.group-name {
  font-size: 16px;
  font-weight: bold;
}

.group-notice {
  font-size: 14px;
  color: #888;
}

.group-time {
  font-size: 12px;
  color: #aaa;
}

.group-badge {
  background: #ff4500;
  color: #fff;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: auto;
}
