// src/scss/page/_community.scss

// Community Page Styles
.community-page {
  padding: 0px;
}

/* 기존 _community.scss 파일 */
.community-header-container {
  padding: 61px 83px 2px 88.64px;
}

.community-header-root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -3.5px;
  position: relative;
}

.community-header-root .nav-link {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
}

.community-header-root .nav-link.underline {
  color: #000;
  border-bottom: 2px solid #000;
}

.community-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.community-tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.community-tab {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  flex-grow: 1;
  text-align: center;
}

.community-tab.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.community-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:12px;
  margin-bottom: 12px;
  padding: 7px 16px;
}

.community-subheader-title {
  font-size: 18px;
  font-weight: bold;
}

.community-create-group-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
}

.community-group-list {
  display: flex;
  flex-direction: column;
}

/* 기존 _communityItem.scss 파일 */
.community-group-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
}

.community-group-icon img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.community-group-details {
  flex: 1;
  margin-left: 16px;
}

.community-group-name {
  font-size: 16px;
  font-weight: bold;
}

.community-group-notice {
  font-size: 14px;
  color: #888;
}

.community-group-time {
  font-size: 12px;
  color: #aaa;
}

.community-group-badge {
  background: #ff4500;
  color: #fff;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: auto;
}

/* 기존 _createGroup.scss 파일 */
.create-group-page {
  padding: 0 16px 16px; /* 상단 패딩을 제거 */
  background: #fff;

  .create-group-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px 0; /* 패딩 추가 */
  }

  .create-group-back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid #ddd;
  }

  .create-group-form-group {
    margin-bottom: 24px; /* 간격을 늘리기 위해 값을 24px로 변경 */

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }

    .create-group-profile-image-placeholder {
      width: 100%;
      height: 150px;
      background-color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #888;
      border-radius: 8px;
      margin-bottom: 16px;
      overflow: hidden;
      cursor: pointer; // 커서 모양 변경
    
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .create-group-input-group {
      display: flex;
      align-items: center;

      input[type="text"],
      input[type="date"],
      input[type="number"] {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 8px;
        box-sizing: border-box;
      }

      span {
        margin-right: 6px;
        display : flex;
        align-items : center;
        justify-content : center;
        height: 100%;
      }
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .create-group-checkbox-group {
      display: flex;
      align-items: center;

      .create-group-checkbox-container {
        display: flex;
        align-items: center;
        margin-right: 16px;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        font-size: 16px;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #ccc;
        }

        input:checked ~ .checkmark {
          background-color: #2196F3;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        input:checked ~ .checkmark:after {
          display: block;
        }

        .checkmark:after {
          left: 7px;
          top: 3px;
          width: 6px;
          height: 12px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  .create-group-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
}

//////////////////////////////////
//////////////////////////////////
// src/scss/page/group_detail_page.scss

.group-detail-page {
  padding: 16px;
  background: #fff;

  .group-detail-image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    margin-bottom: 16px;
  }

  .group-detail-body {
    .group-detail-section-title {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 4px;
    }

    p {
      font-size: 17px;
      margin-bottom: 26px;
    }
  }

  .progress-bar-container {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;

    .progress-bar {
      height: 100%;
      width: 100%;
      background-color: #e0e0e0;
      border-radius: 10px;
      overflow: hidden;

      .progress-bar-fill {
        height: 100%;
        background-color: #007bff;
        border-radius: 10px 0 0 10px;
        transition: width 1s ease-in-out;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      color: #333;
    }
  }

  @media (max-width: 768px) {
    .group-detail-body {
      .group-detail-section-title {
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }
    }

    .progress-bar-container {
      height: 16px;

      .progress-bar-fill {
        border-radius: 8px 0 0 8px;
      }

      span {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    .group-detail-body {
      .group-detail-section-title {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }

    .progress-bar-container {
      height: 14px;

      .progress-bar-fill {
        border-radius: 7px 0 0 7px;
      }

      span {
        font-size: 8px;
      }
    }
  }
}


//////////////////////////////////
//////////////////////////////////
//GroupDetailHeaderTabs.scss

/* src/scss/components/_groupDetailHeaderTabs.scss */

.group-detail-header-tabs {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.group-detail-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: none; /* 실선 제거 */
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 8px;
}

.group-detail-name {
  font-size: 18px;
  font-weight: bold;
}

.group-detail-tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: none; /* 실선 제거 */

  .tab {
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
  }

  .tab.active {
    color: #000;
    border-bottom: 2px solid #000;
  }
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .group-detail-header {
    padding: 8px;
    .back-button {
      font-size: 20px;
      margin-right: 6px;
    }
    .group-detail-name {
      font-size: 16px;
    }
  }

  .group-detail-tabs {
    .tab {
      padding: 6px 12px;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .group-detail-header {
    padding: 6px;
    .back-button {
      font-size: 18px;
      margin-right: 4px;
    }
    .group-detail-name {
      font-size: 14px;
    }
  }

  .group-detail-tabs {
    .tab {
      padding: 4px 8px;
      font-size: 12px;
    }
  }
}


//////////////////////////////////
//////////////////////////////////
// src/scss/components/_groupChat.scss

.group-chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); // 적절히 조절
  background-color: #ffffff;

  .group-chat-content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    background-color: #f9f9f9; // 배경색을 좀 더 밝게 조정
  }

  .group-chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px 12px;
    border-radius: 16px;
    background-color: #f1f1f1; // 메시지 배경색
    color: #333; // 메시지 글자색

    .username {
      font-weight: bold;
      margin-right: 8px;
      color: #007bff; // 사용자 이름 색상
    }

    .message {
      flex-grow: 1;
    }
  }
}

.group-chat-input {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: calc(100% - 32px); // 전체 너비에서 좌우 패딩 제외
  max-width: 430px; // 최대 너비를 430px로 제한
  left: 50%;
  transform: translateX(-50%); // 중앙 정렬을 위해 transform 사용
  box-sizing: border-box; // 패딩과 테두리를 포함한 전체 크기를 계산

  input[type='text'] {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 16px;
    margin-right: 8px;
  }

  input[type='file'] {
    display: none;
  }

  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
  }

  .plus-button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .group-chat-input {
    width: calc(100% - 32px); // padding에 맞게 조정
    max-width: 100%;
    padding: 8px;

    input[type='text'] {
      padding: 8px;
      border-radius: 8px;
    }

    button {
      padding: 8px;
      border-radius: 8px;
    }
  }

  .group-chat-content {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .group-chat-input {
    width: calc(100% - 32px); // padding에 맞게 조정
    max-width: 100%;
    padding: 8px;

    input[type='text'] {
      padding: 8px;
      border-radius: 8px;
    }

    button {
      padding: 8px;
      border-radius: 8px;
    }
  }

  .group-chat-content {
    padding: 8px;
  }
}
