.mypage {
  padding: 61px 83px 2px 88.64px;
}
.mypage-root {
  display: flex;
  align-items: flex-start;
  gap: 120px;
  justify-content: center;
}

.mypage-root-line {
  background: var(--calender_date_box, #eaeaea);
  height: 1px;
}

.mypage-spread-underline-left::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 3px solid #000;

  width: 0;
}
.mypage-spread-underline-left:hover::after {
  width: 50%;
  left: 0;
  right: auto;
}
.mypage-spread-underline-right::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 3px solid #000;

  width: 0;
}
.mypage-spread-underline-right:hover::after {
  width: 50%;
  right: 0;
  left: auto;
}

.mypage-profile {
  display: flex;
}
.mypage-profile-picture {
  width: 81.74px;
  height: 81.74px;
  margin: 43.43px 25.63px 0px 23.41px;
  flex-shrink: 0;
  border-radius: 60.548px;
  background: #d5d5d5;
}
.mypage-profile-name {
  width: Fixed 28px;
  height: Fixed 19px;
  margin: 58.28px 0px 0px;
}
.mypage-profile-content {
  width: 244.854px;
  margin: 7.02px 0px 0px;
  display: block;
}
.mypage-profile-box {
  display: block;
}
.mypage-profile-appeal-all {
  display: flex;
}
.mypage-profile-appeal-mail-box {
  display: flex;
  width: 88.613px;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  margin: 13.24px 39.64px 13.24px 39.64px;
}
.mypage-profile-appeal-mail {
  width: 168px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  background: #b4b4b4;
  margin: 61.2px 1px 0px auto;
}
.mypage-profile-appeal-mail-icon {
  display: flex;
  width: 88.613px;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
}
.mypage-profile-appeal-like-box {
  display: flex;
  width: 88.613px;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  margin: 13.24px 39.64px 13.24px 39.64px;
}
.mypage-profile-appeal-like-icon-box-num {
  display: flex;
}
.mypage-profile-appeal-like-num {
  width: 20.914px;
  color: #fff;
  font-family: Pretendard;
  font-size: 15.471px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 4.26px 0px 4.26px 4px;
}
.mypage-profile-appeal-like {
  width: 168px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  background: #b4b4b4;
  margin: 61.2px auto 0px 1px;
}
.mypage-profile-appeal-text {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mypage-profile-edit {
  display: flex;
  width: 338px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
  margin: 22.07px auto 0px;
}
.mypage-divide-line {
  width: 430px;
  height: 9px;
  flex-shrink: 0;
  background: #f4f4f4;
  margin: 35.93px auto 0px auto;
}
.mypage-community-section {
  display: flex;
  width: 316px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 20.5px;
}
.mypage-communication {
  align-self: stretch;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mypage-communication-count {
  align-self: stretch;
  .mypage-communication-now {
    color: #545454;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .mypage-communication-all {
    color: #9b9b9b;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  display: flex;
}
.mypage-communication-list {
  margin: 26px;
}
.mypage-communication-list-image {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 11.033px 8.931px 11.033px 8.93px;
  justify-content: center;
  align-items: center;
  border-radius: 37.037px;
  background: #f0f0f0;
}
.mypage-communication-list {
  display: flex;
  margin: 13px 0px;
  .mypage-communication-list-content {
    display: block;
    .mypage-communication-list-name {
      margin: 0px 0px 0px 20px;
    }
    .mypage-communication-list-member {
      margin: 0px 0px 0px 20px;
      color: #acacac;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
